@import url('./css-reset.css');

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

:root {
	--black: black;
	--white: white;
	--light-gray: #e9ecef;
	--dark-gray: #8d99ae;
	--eggshell: #f4f1de;
	--burnt-sienna: #e07a5f;
	--delft-blue: #3d405b;
	--cambridge-blue: #81b29a;
	--sunset: #f2cc8f;
}

h1 {
	font-size: 42px;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}

a {
	text-decoration: none;
	font-size: 36px;
}

header,
nav,
main {
	padding: 20px;
}

body {
	font-family: 'Roboto', sans-serif;

	display: grid;
	grid-template-columns: max(300px, 15%) 4fr;
	grid-template-rows: 250px 7fr;

	background-color: var(white);
}

header {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	box-shadow: 0px 0px 10px var(--delft-blue);

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	gap: 15px;
}

.header-search svg,
.header-user svg,
li > svg {
	width: 24px;
}

.header-search {
	display: grid;
	grid-template-columns: 30px 80%;
	align-items: center;
	gap: 10px;
}

input[type='search'] {
	border-radius: 12px;
	border: none;
	font-size: 18px;
	background-color: var(--light-gray);
}

input[type='search']:focus {
	outline: none;
	border-color: var(--delft-blue);
	box-shadow: 0 0 5px var(--delft-blue);
}

.header-user {
	display: grid;
	grid-template-columns: repeat(2, 40px) 1fr;
	gap: 15px;
	align-items: center;
	/* justify-items: center; */
	justify-self: end;
	padding-right: 20px;
}

.header-user p {
	font-size: 18px;
	font-weight: 700;
}

.header-greeting {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: minmax(1fr, 1fr);
	align-items: center;
}

.header-greeting img {
	width: 80px;
	height: auto;
}

.header-greeting .greeting {
	white-space: nowrap;
}

.header-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	align-items: center;
	justify-items: center;
}

li > button {
	border: none;
	border-radius: 25px;
	padding: 10px;
	width: 110px;
	height: 40px;
	background-color: var(--cambridge-blue);
	color: var(--white);
}

button:hover {
	cursor: pointer;
}

button:active {
	background-color: var(--delft-blue);
}

nav {
	grid-column: 1 / 2;
	grid-row: 1 / 3;

	background-color: var(--cambridge-blue);
	color: var(--eggshell);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 350px 350px;
	gap: 40px;
}

.dashboard-header {
	display: grid;
	grid-template-columns: 30px 1fr;
	gap: 10px;
	align-items: center;
}

.dashboard-icon path {
	fill: var(--eggshell);
}

.nav-items {
	display: grid;
	grid-template-columns: 30px 1fr;
	gap: 10px;

	font-weight: 700;
}

a:link,
a:visited {
	color: var(--eggshell);
}

svg.nav-icon {
	fill: var(--eggshell);
	width: 24px;
	align-self: center;
}

main {
	grid-column: 2 / 3;

	background-color: var(--light-gray);

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.projects {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.project-container {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 15px;
}

.project-item {
	background-color: var(--white);
	border-radius: 10px;
	padding: 30px;
	border-left: 10px solid var(--sunset);

	display: grid;
	gap: 5px;
	grid-template-columns: repeat(2, 1fr);
}

.project-item h3,
.project-item p {
	grid-column: 1 / 3;
}

.project-item p {
	line-height: 1;
	margin-bottom: 1.5rem;
	color: var(--dark-gray);
}

.project-item ul {
	grid-column: 2/3;
	justify-self: end;

	display: grid;
	grid-template-columns: repeat(3, 50px);
	justify-items: end;
}

.announcement {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.trending {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
